/* global rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*end global rules*/

/*srat body */
body{
    
    font-family: 'Open Sans', sans-serif;
    background: url("../images/login3.jpg") no-repeat;
    background-size: cover;

}
/*end body */

 /*login-box*/
 
.login-box{
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%); /*bdaya mn al markz */
    color: white;
    /*margin: -140px;  t7neka kiro */
}
.login-box h1{
    float: left;
    font-size: 40px;
    border-bottom: 6px solid rgb(76, 207, 76);
    margin-bottom: 50px;
    padding: 13px 0; /*0 34an myb2a4 fe padding right w left*/

}
.textbox {
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid rgb(76, 207, 76);    
}
.textbox i{
    width: 26px;
    float: left;
    text-align: center;
}

.textbox input {
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 10px;
}
.btn {
    width: 100%;
    background: none;
    border: 2px solid rgb(76, 207, 76);
    color: white;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
}

 /*end login box*/