/* global rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*end global rules*/

/*srat body */
body{
    
    font-family: 'Open Sans', sans-serif;
    background-color: #eeeeee;
  /*  background: url("../images/login3.jpg") no-repeat;*/
    background-size: cover;

}
/* sign up box */
.signup-box{
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%); /*bdaya mn al markz */
    color: black;
    /*margin: -140px;  t7neka kiro */
}
.signup-box h1{
    color: rgb(53, 77, 113);
    float: left;
    font-size: 40px;
    border-bottom: 6px solid rgb(53, 77, 113);
    margin-bottom: 50px;
    padding: 13px 0; /*0 34an myb2a4 fe padding right w left*/

}
.textbox {
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid rgb(53, 77, 113);    
}

.textbox p{
    color: #616161;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: start;
}

.textbox i{
    margin: 12px;
    width: 26px;
    float: left;
    text-align: center;
    color: rgb(53, 77, 113);
}


.textbox input {
    border: none;
    outline: none;
    background-color: white;
    font-size: 18px;
    width: 90%; 
    float: left;
    /* margin: 0 10px; */
    padding: 10px;
}

.textbox .date {
    width: 20%;
    border: none;
    outline: none;
    background-color: white;
    font-size: 18px; 
    float: left;
    margin-right: 15px;
    padding: 10px;
}
.textbox select{
    color: #616161;
    font-size: 5px;
    text-align: start;
}

.textbox .selecting {
    border: none;
    outline: none;
    background-color: white;
    font-size: 18px;
    width: 90%; 
    float: left;
    /* margin: 0 10px; */
    padding: 10px;
    

}

.btn {
    width: 100%;
    background: none;
    border: 2px solid rgb(53, 77, 113);
    
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
}
.checkbox{
    margin: 30px 0;
}
label{
    margin-left: 20px;
}
/* end sign up box*/